<a href="https://colab.research.google.com/github/CalypsoC/QM2-PROJECT9/blob/main/education_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import requests
import io

In [ ]:
url1 = "https://raw.githubusercontent.com/CalypsoC/QM2-PROJECT9/main/rawdata/completingcollege_Raw.csv"
download = requests.get(url1).content
college = pd.read_csv(io.StringIO(download.decode('utf-8')))
college.head()

            Name 2016-2020
0  United States     32.9%
1        Alabama     26.2%
2         Alaska     30.0%
3        Arizona     30.3%
4       Arkansas     23.8%

cleaning for completing college

In [ ]:
college = college.drop([0])

In [ ]:
college = college.replace('%', '', regex=True)

In [ ]:
college = college.rename(columns={'Name': 'STATE', '2016-2020': 'Completing college'})

In [ ]:
college.head()

        STATE Completing college
1     Alabama               26.2
2      Alaska               30.0
3     Arizona               30.3
4    Arkansas               23.8
5  California               34.7

In [ ]:
url2 = "https://raw.githubusercontent.com/CalypsoC/QM2-PROJECT9/main/rawdata/completing%20high%20school_raw.csv"
download = requests.get(url2).content
highschool = pd.read_csv(io.StringIO(download.decode('utf-8')))
highschool.head()

         Name 2016-2020
0     Alabama     30.3%
1      Alaska     28.4%
2     Arizona     23.8%
3    Arkansas     33.9%
4  California     20.4%

In [ ]:
highschool = highschool.replace('%', '', regex=True)

In [ ]:
highschool = highschool.rename(columns={'Name': 'STATE', '2016-2020': 'Completing High school '})

In [ ]:
highschool.head()

        STATE Completing High school
0     Alabama                    30.3
1      Alaska                    28.4
2     Arizona                    23.8
3    Arkansas                    33.9
4  California                    20.4

merging these two dataframe to create eductaion.csv

In [ ]:
education_data = college.merge(highschool,on='STATE')
education_data

                   STATE Completing college Completing High school
0                Alabama               26.2                    30.3
1                 Alaska               30.0                    28.4
2                Arizona               30.3                    23.8
3               Arkansas               23.8                    33.9
4             California               34.7                    20.4
5               Colorado               41.6                    21.2
6            Connecticut               40.0                    26.3
7               Delaware               32.7                    31.0
8   District of Columbia               59.8                    16.6
9                Florida               30.5                    28.2
10               Georgia               32.2                    27.5
11                Hawaii               33.6                    27.3
12                 Idaho               28.7                    26.7
13              Illinois               35.5                    25.6
14               Indiana               27.2                    33.2
15                  Iowa               29.3                    30.8
16                Kansas               33.9                    25.8
17              Kentucky               25.0                    32.6
18             Louisiana               24.9                    33.3
19                 Maine               32.5                    31.3
20              Maryland               40.9                    24.2
21         Massachusetts               44.5                    23.5
22              Michigan               30.0                    28.5
23             Minnesota               36.8                    24.2
24           Mississippi               22.8                    30.1
25              Missouri               29.9                    30.5
26               Montana               33.1                    28.1
27              Nebraska               32.5                    25.7
28                Nevada               25.5                    27.9
29         New Hampshire               37.6                    27.3
30            New Jersey               40.7                    26.7
31            New Mexico               28.1                    26.2
32              New York               37.5                    25.5
33        North Carolina               32.0                    25.5
34          North Dakota               30.7                    26.1
35                  Ohio               28.9                    32.8
36              Oklahoma               26.1                    31.1
37                Oregon               34.4                    22.7
38          Pennsylvania               32.3                    34.2
39          Rhode Island               35.0                    28.0
40        South Carolina               29.0                    28.9
41          South Dakota               29.3                    30.2
42             Tennessee               28.2                    31.8
43                 Texas               30.7                    24.7
44                  Utah               34.7                    22.8
45               Vermont               39.7                    28.3
46              Virginia               39.5                    23.9
47            Washington               36.7                    21.8
48         West Virginia               21.3                    40.0
49             Wisconsin               30.8                    30.3
50               Wyoming               28.2                    28.6

In [ ]:
from google.colab import files
education_data.to_csv('edu.csv', index=False)

In [ ]:
files.download('edu.csv')