<a href="https://colab.research.google.com/github/CalypsoC/QM2-PROJECT9/blob/main/Final_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import requests
import io

In [ ]:
url1 = "https://raw.githubusercontent.com/CalypsoC/QM2-PROJECT9/main/Income.csv"
download = requests.get(url1).content
income = pd.read_csv(io.StringIO(download.decode('utf-8')))
income.head()

        STATE  Median Household Income
0     Alabama                    53913
1      Alaska                    77845
2     Arizona                    69056
3    Arkansas                    52528
4  California                    84907

In [ ]:
url2 = "https://raw.githubusercontent.com/CalypsoC/QM2-PROJECT9/main/edu.csv"
download = requests.get(url2).content
education = pd.read_csv(io.StringIO(download.decode('utf-8')))
education.head()

        STATE  Completing college  Completing High schoolÂ
0     Alabama                26.2                     30.3
1      Alaska                30.0                     28.4
2     Arizona                30.3                     23.8
3    Arkansas                23.8                     33.9
4  California                34.7                     20.4

In [ ]:
df = income.merge(education,on='STATE')
df.head()

,STATE,Median Household Income,Completing college,Completing High school
0,Alabama,53913,26.2,30.3
1,Alaska,77845,30.0,28.4
2,Arizona,69056,30.3,23.8
3,Arkansas,52528,23.8,33.9
4,California,84907,34.7,20.4

In [ ]:
url3 = "https://raw.githubusercontent.com/CalypsoC/QM2-PROJECT9/main/Abortion strictness_raw.csv"
download = requests.get(url3).content
strictness = pd.read_csv(io.StringIO(download.decode('utf-8')))
strictness.head()

        STATE  Abortion strictness
0     Alabama                    7
1      Alaska                    3
2     Arizona                    6
3    Arkansas                    7
4  California                    2

In [ ]:
df =df.merge(strictness,on='STATE')
df.head()

,STATE,Median Household Income,Completing college,Completing High school,Abortion strictness
0,Alabama,53913,26.2,30.3,7
1,Alaska,77845,30.0,28.4,3
2,Arizona,69056,30.3,23.8,6
3,Arkansas,52528,23.8,33.9,7
4,California,84907,34.7,20.4,2

In [ ]:
url4 = "https://raw.githubusercontent.com/CalypsoC/QM2-PROJECT9/main/political%20affilliation.csv"
download = requests.get(url4).content
politics = pd.read_csv(io.StringIO(download.decode('utf-8')))
politics.head() # we can see here we miss delete one column.

   Unnamed: 0       STATE  Political affiliation 2021
0           0     Alabama                   -29.59438
1           1      Alaska                   -14.62028
2           2     Arizona                    -7.58754
3           3    Arkansas                   -31.83641
4           4  California                    25.45492

In [ ]:
politics=politics.drop(columns=['Unnamed: 0'])
politics.head()

        STATE  Political affiliation 2021
0     Alabama                   -29.59438
1      Alaska                   -14.62028
2     Arizona                    -7.58754
3    Arkansas                   -31.83641
4  California                    25.45492

In [ ]:
df =df.merge(politics,on='STATE')
df.head()

,STATE,Median Household Income,Completing college,Completing High school,Abortion strictness,Political affiliation 2021
0,Alabama,53913,26.2,30.3,7,-29.59438
1,Alaska,77845,30.0,28.4,3,-14.62028
2,Arizona,69056,30.3,23.8,6,-7.58754
3,Arkansas,52528,23.8,33.9,7,-31.83641
4,California,84907,34.7,20.4,2,25.45492

In [ ]:
url5 = "https://raw.githubusercontent.com/CalypsoC/QM2-PROJECT9/main/AGE_Raw.csv"
download = requests.get(url5).content
age = pd.read_csv(io.StringIO(download.decode('utf-8')))
age.head()

        STATE  Median Age by State
0     Alabama                 39.2
1      Alaska                 34.6
2     Arizona                 37.9
3    Arkansas                 38.3
4  California                 36.7

In [ ]:
df =df.merge(age,on='STATE')
df.head()

,STATE,Median Household Income,Completing college,Completing High school,Abortion strictness,Political affiliation 2021,Median Age by State
0,Alabama,53913,26.2,30.3,7,-29.59438,39.2
1,Alaska,77845,30.0,28.4,3,-14.62028,34.6
2,Arizona,69056,30.3,23.8,6,-7.58754,37.9
3,Arkansas,52528,23.8,33.9,7,-31.83641,38.3
4,California,84907,34.7,20.4,2,25.45492,36.7

In [ ]:
url6 = "https://raw.githubusercontent.com/CalypsoC/QM2-PROJECT9/main/Religiosity_Raw.csv"
download = requests.get(url6).content
religiosity = pd.read_csv(io.StringIO(download.decode('utf-8')))
religiosity.head()

,STATE,High religiosity index %,Attendance at religious services\nAt least once a week %
0,Alabama,77,51
1,Alaska,45,30
2,Arizona,53,34
3,Arkansas,70,41
4,California,49,31

In [ ]:
df =df.merge(religiosity,on='STATE')
df.head()

,STATE,Median Household Income,Completing college,Completing High school,Abortion strictness,Political affiliation 2021,Median Age by State,High religiosity index %,Attendance at religious services\nAt least once a week %
0,Alabama,53913,26.2,30.3,7,-29.59438,39.2,77,51
1,Alaska,77845,30.0,28.4,3,-14.62028,34.6,45,30
2,Arizona,69056,30.3,23.8,6,-7.58754,37.9,53,34
3,Arkansas,52528,23.8,33.9,7,-31.83641,38.3,70,41
4,California,84907,34.7,20.4,2,25.45492,36.7,49,31

In [ ]:
from google.colab import files
df.to_csv('Final.csv', index=False)

In [ ]:
files.download('Final.csv')